*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width:100%;
	font-size:100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border:0;}
a,a:visited{text-decoration: none;}
a hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/*DEFOLT SETTINGS END*/

body{
	font-family: 'Nanum Myeongjo', serif;
	line-height: 36px;
	font-weight: 350;
	text-align: center;
	height: 2219px;
	width: 1100px;
	margin: 0 auto;
}
.logo{
	font-size: 34px;
	display: flex;
	align-items: center;
	margin-right: 400px;
}
.header{
	padding: 11px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}
.menu{
	display: flex;
	width: 700px;
	justify-content: space-around;
}
.menu > div{
	background-color: lightgrey;
	display: flex;
	align-items: center;
	border-radius: 10px;
}
/*LINE TAGS START*/
.line{
	width: 100%;
	margin: 0 auto;
	height: 5px;
	background-color: white;
}
/*LINE TAGS END*/
